  
.tabordion {
  color: #333;
  display: block;
  font-family: arial, sans-serif;
  position: relative;
  border: 2px, green, solid;

}

.tabordion input[name="sections"] {

  position: absolute;

}

.tabordion section {
  display: block;
}
  .tabordion section input {
    display: none;
  }  
.tabordion section label {
  background: #ccc;
  color: #777;
  border:1px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px;
  position: relative;
  width: 20%;
  z-index:100;
}

.tabordion section article {
  display: none;
  left: 22%;
  padding: 5px;
  position: absolute;  
  top: 0;
}


.tabordion input[name="sections"]:checked + label { 
  background: #fff;
  color: #000;
}

.tabordion input[name="sections"]:checked ~ article {
  color: #000;
  display: block;
}


@media (max-width: 533px) {
  .tabordion {
    width: 100%;
  }
  .tabordion section input {
    display: none;
  }  
  .tabordion section label {
    font-size: 1em;
    width: 20%
  }  

 .tabordion section article {
    left: 22%;
  } 
  

  
}


@media (max-width: 768px) {
  .tabordion {
    width: 96%;
  }
}


@media (min-width: 1366px) {
  .tabordion {
    width: 70%;
  }
}

